@use "./typography";
@use "./mixins" as *;
@use "./variables" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #323232;
}

.nav__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1em;

    @include tablet {
    flex-direction: row;
    padding-left: 2.25em;
    gap: 3em;
    }

    @include desktop {
        padding-left: 3.94em;
    }
}


.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    @include tablet {
        justify-content: flex-start;
        gap: 1em;
    }
}

.nav__item {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    color: #fff;
    width: 50vw;
    padding: 1em;
    position: relative;

    @include tablet {
        justify-content: flex-start;
        width: 7em;
    }
}

.nav__item--active::after {
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #fff
}

.nav__item--inactive {
    color: #E1E1E1;
}

/* Footer */
footer {
    background-color: #323232;
    padding: 1em;
    color: #fff;

    @include tablet {
        padding: 3em 2.25em;
    }

    @include desktop {
        padding: 2em 5em;
    }
}

.footer__top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet {
        flex-direction: row;
        padding-bottom: 2em;
        align-items: center;
    }

    @include desktop {
        flex-direction: row;
        padding-bottom: 2em;
        align-items: center;
    }
}

.footer__social {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-bottom: 1em;

    @include tablet {
        flex-direction: row;
        align-items: center;
        padding: 0;
    }
}

.icons {
    display: flex;
    gap: 1em;
}

.footer__social-item {
    width: 25px;
    height: 25px;
}

.footer__info {
    display: flex;
    flex-direction: column;
    gap: 1em; /* Add consistent spacing between info sections */

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
    }

    @include desktop{
        justify-content: flex-start;
        gap: 5em;
    }
}

.footer__details {
    width: 100%;
    padding-bottom: 1em; /* Adjust spacing */

    @include tablet {
        max-width: 30%;
    }

    @include desktop {
        max-width: 20%;
    }
}

.footer__title {
    display: flex;
    padding-bottom: 1em;
}

.footer__copyright {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}
.logo-mobile {
    display: block;
    width: 30%;
    padding-bottom: 1em;

    @include tablet {
        display: none;
    }
}

.logo-desktop {
    display: none;

    @include tablet {
        display: block;
        width: 20%;
    }
}