@use "./typography";
@use "./mixins" as *;
@use "./variables" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}  

body {
    color: $primary-color;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: $primary-color;
    &__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding-top: 1em;

    @include tablet {
    flex-direction: row;
    padding-top: 0;
    padding-left: 2.25em;
    gap: 3em;
    }

    @include desktop {
        padding-left: 3.94em;
    }
}
    &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    @include tablet {
        justify-content: flex-start;
        gap: 1em;
    }
}
    &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    color: $tertiary-color;
    width: 50vw;
    padding: 1em;

    &--active {
    border-bottom: 1px solid $tertiary-color;
    }

    &--inactive {
    color: $inactive-color;
    }

    @include tablet {
        justify-content: center;
        width: 7em;
        height: 5em;
    } 

    @include desktop {
        &:hover {
            background-color:$cta-hover;
        }
    }
}
}

.button {
    background-color: $primary-color;
    color: $tertiary-color;
    height: 2.5em;
    border-radius: 4px;
    text-transform: uppercase;
    width: 100%;

    @include tablet {
        width: 9.4em;
        padding: 0 2em;
    }

    &:hover{
        background-color: $cta-hover;
    }
}
/* Footer */
footer {
    background-color: $primary-color;
    padding: 1em;
    color: $tertiary-color;

    @include tablet {
        padding: 3em 2.25em;
    }

    @include desktop {
        padding: 2em 5em;
    }
}

.footer-segment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet {
        flex-direction: row;
        padding-bottom: 2em;
        align-items: center;
    }

    @include desktop {
        flex-direction: row;
        padding-bottom: 2em;
        align-items: center;
    }
}

.footer-social {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-bottom: 1em;

    @include tablet {
        flex-direction: row;
        align-items: center;
        padding: 0;
    }
}

.footer-social__icons {
    display: flex;
    gap: 1em;

&__icons {
    width: 1.6rem;
    height: 1.6rem;
}
}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: 1em; 

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
    }

    @include desktop{
        justify-content: flex-start;
        gap: 5em;
    }

&__details {
    width: 100%;
    padding-bottom: 1em; 

    @include tablet {
        max-width: 30%;
    }

    @include desktop {
        max-width: 20%;
    }
}

&__title {
    display: flex;
    padding-bottom: 1em;
}
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.footer-logo {
    display: block;
    width: 30%;
    padding-bottom: 1em;

    @include tablet {
        display: none;
    }

    &--desktop {
    display: none;

    @include tablet {
    display: block;
    width: 15%;   
    }
}
}