* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #323232;
}

.nav__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1em;

    @include tablet {
    flex-direction: row;
    padding-left: 2em;
    gap: 3em;
    }
}


.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    @include tablet {
        justify-content: flex-start;
        gap: 1em;
    }
}

.nav__item {
    list-style-type: none;
    text-decoration: none;
    color: #fff;
    width: 80px;
    padding: 1em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
 
    position: relative;

    @include tablet {
        justify-content: flex-start;
        width: 10%;
    }
}

.nav__item--active::after {
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #fff
}

.nav__item--inactive {
    color: #E1E1E1;
}

footer {
    background-color: #323232;
    padding: 1em;
    color: #fff;

    @include tablet {
        padding: 1em 2.25em;
    }

    @include desktop {
        padding: 1em 5em,
    }
}

.footer__top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet {
        display: flex;
        flex-direction: row;
    }
}


.footer__social {
    display: flex;
    flex-direction: column;
    gap: 1em;

    @include tablet {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

}

.icons {
    display: flex;
    gap: 1em;
}
.footer__social-item {
    width: 25px;
    height: 25px;
}

.footer__info {
    padding-bottom: 1em;
    display: flex;
    justify-content: space-evenly;

    @include tablet {
        display: flex;
        flex-direction: row;
    }
}

.footer__details {
    width: 60%;
    padding-bottom: 1em;

    @include tablet {
        width: 40%;
    }
}

.logo-mobile {
    display: block;

    @include tablet {
        display: none;
    }

}

.logo-desktop {
    display: none;

    @include tablet {
        display: block;
        width: 200px;
    }
}