@font-face {
    font-family: 'Nunito Sans';
    src: url(/assets/fonts/NunitoSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url(/assets/fonts/NunitoSans-Medium.woff);
    font-weight: 500;
    font-style: medium;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url(/assets/fonts/NunitoSans-Bold.woff);
    font-weight: 700;
    font-style: bold;
}

h1, h2 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
}

h4 {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.25rem;
}

h3 {
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.37rem;
}

p, .form__field {
    font-weight: 400;
    font-size: .812rem;
    line-height: 1.125rem;
}

button, .label {
    font-weight: 700;
    font-size: 0.625rem;
    line-height: 1.25rem;
}

.about__copy {
    font-weight: 500;
    font-size: .812rem;
    line-height: 1.125rem;
}
.footer__title {
    font-weight: 700;
    line-height: 1.125rem;
    font-size: .812rem;
}

.footer__copy {
    font-weight: 400;
    line-height: 1.125rem;
    font-size: .812rem;
}

.about__quote {
        font-weight: 500;
        font-size: .875rem;
        line-height: 1.37rem;
    }

.navbar__item { 
    font-weight: 400;
    font-size: .812rem;
    line-height: 1.125rem;
}

@media (min-width: 768px){
h1 {
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 4.25rem;
}

h2 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
}

h3 {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
}

p {
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.37rem;
}

button {
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.25rem;
}

.about__quote {
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 2rem;
    }

.footer__title {
    font-weight: 700;
    line-height: 1.25rem;
    font-size: .875rem;
}

.footer__copy {
    font-weight: 400;
    line-height: 1.25rem;
    font-size: .875rem;
}
}