/* breakpoints */

$tablet-breakpoint: 768px;

$desktop-breakpoint: 1280px;

/* colors */
$primary-color: #323232;
$secondary-color: #AFAFAF; //silver
$tertiary-color: #FFF;
$cta-hover: #000;
$inactive-color: #E1E1E1; //mercury
$background-color: #FAFAFA; //hover