@use "../partials/variables" as *;
@use "../partials/mixins" as *;
@use "../partials/typography" as *;
@use "../partials/global" as *;


.shows {
    background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/assets/images/hero-shows.jpg');
    background-size: cover;
    height: 60vh; //try aspect ratio 16/9 maybe try object fit cover
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1em;

    &__subheading {
        color: $tertiary-color;
    }

    &__heading  {
        color: $tertiary-color;
    }

    @include tablet {
        height: 70vh;
        padding: 2.25em;
    }

    @include desktop {
        padding: 3.94em;
    }

    &__song {
        width: 20%;
    }

    &__copy {
        width: 50%;
    }
}

.show-list{
    padding: 3em;
}

.shows-all {
    display: flex;
    border-bottom: 1px solid #ccc; 
    align-items: center;
    justify-content: space-evenly;
}

.show__item{
    min-width: 25%;
    padding: 1em;
}

.show__item2{
    min-width: 25%;
}

.show__item3{
    min-width: 25%;
}

li {
    list-style-type: none;
}

 /*  .shows__item {
    display: flex;
  gap: 1em; 
  align-items: center; 
  border-bottom: 1px solid #ccc; 
  padding: 1em 0;
  } */

