@use "../partials/variables" as *;
@use "../partials/mixins" as *;
@use "../partials/typography" as *;
@use "../partials/global" as *;


.shows {
    background: 
    linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
    url('/assets/images/hero-shows.jpg');
    background-size: cover;
    background-position: center;
    aspect-ratio: 16/9; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1em;

    @include tablet {
      justify-content: flex-start;
      padding: 2.25em;
    }

    @include desktop {
      flex-direction: row;
      justify-content: space-around;
      padding: 3.94em;

    }

    &__subheading {
        color: $tertiary-color;
    }

    &__text {
        color: $tertiary-color;
    }
}

.shows__song{
  padding-top: 3em;
  width: 100%;
}

.shows__copy{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}

ul {
    list-style-type: none;
  }
  
  .show-list {
    display: flex;
    flex-direction: column;
    padding: 1em;

    @include tablet {
        flex-direction: row;
    }
  }
  
  .shows__table {
    width: 100%;
    padding: 0;
  }
  
  
  .shows__table-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    border-bottom: 1px solid $inactive-color;
    gap: 1em;
    padding: 1em 0;
    background-color: #fff;

    &:hover {
        background-color: $background-color;
    }

    &--selected {
        background-color: $inactive-color;
        // Add any additional selected styles here
    }

    @include tablet {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
  
  .shows__table-section {
    min-width: 30%;
  }
  
  .shows__title {
    color: $secondary-color;
    text-transform: uppercase;
  }
  
  .shows__title--hide {
    display: block;

    @include tablet {
    display: none;
  }
}
  
  .shows__table-section {
    min-width: 25%;
  }

  .shows__date1 {
    font-weight: 700;
  }