/* breakpoints */
/* colors */
@font-face {
  font-family: "Nunito Sans";
  src: url(/assets/fonts/NunitoSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Nunito Sans";
  src: url(/assets/fonts/NunitoSans-Medium.woff);
  font-weight: 500;
  font-style: medium;
}
@font-face {
  font-family: "Nunito Sans";
  src: url(/assets/fonts/NunitoSans-Bold.woff);
  font-weight: 700;
  font-style: bold;
}
h1, h2 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

h4 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 20px;
}

h3 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.about__copy {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
}

.footer__title {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  line-height: 18px;
  font-size: 13px;
}

.footer__copy {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  line-height: 18px;
  font-size: 13px;
}

.about__quote {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

.navbar__item {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

@media (min-width: 768px) {
  h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 68px;
  }
  h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
  }
  h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
  }
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
  .about__quote {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }
  .footer__title {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    line-height: 20px;
    font-size: 14px;
  }
  .footer__copy {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #323232;
}

.navbar {
  background-color: #323232;
}
.navbar__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding-top: 1em;
}
@media screen and (min-width: 768px) {
  .navbar__logo {
    flex-direction: row;
    padding-top: 0;
    padding-left: 2.25em;
    gap: 3em;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__logo {
    padding-left: 3.94em;
    min-width: 1280px;
  }
}
.navbar__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .navbar__list {
    justify-content: flex-start;
    gap: 1em;
  }
}
.navbar__item {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
  color: #FFF;
  width: 50vw;
  padding: 1em;
}
@media screen and (min-width: 768px) {
  .navbar__item {
    justify-content: center;
    width: 7em;
    height: 5em;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__item:hover {
    background-color: #000;
  }
}

.navbar__item--active {
  border-bottom: 1px solid #FFF;
}

.navbar__item--inactive {
  color: #E1E1E1;
}

/* Footer */
footer {
  background-color: #323232;
  padding: 1em;
  color: #FFF;
}
@media screen and (min-width: 768px) {
  footer {
    padding: 3em 2.25em;
  }
}
@media screen and (min-width: 1280px) {
  footer {
    padding: 2em 5em;
  }
}

.footer-segment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .footer-segment {
    flex-direction: row;
    padding-bottom: 2em;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .footer-segment {
    flex-direction: row;
    padding-bottom: 2em;
    align-items: center;
  }
}

.footer-social {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 1em;
}
@media screen and (min-width: 768px) {
  .footer-social {
    flex-direction: row;
    align-items: center;
    padding: 0;
  }
}

.footer-social__icons {
  display: flex;
  gap: 1em;
}
.footer-social__icons__icons {
  width: 1.6rem;
  height: 1.6rem;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
@media screen and (min-width: 768px) {
  .footer-info {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .footer-info {
    justify-content: flex-start;
    gap: 5em;
  }
}
.footer-info__details {
  width: 100%;
  padding-bottom: 1em;
}
@media screen and (min-width: 768px) {
  .footer-info__details {
    max-width: 30%;
  }
}
@media screen and (min-width: 1280px) {
  .footer-info__details {
    max-width: 20%;
  }
}
.footer-info__title {
  display: flex;
  padding-bottom: 1em;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.footer-logo--mobile {
  display: block;
  width: 30%;
  padding-bottom: 1em;
}
@media screen and (min-width: 768px) {
  .footer-logo--mobile {
    display: none;
  }
}

.footer-logo--desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer-logo--desktop {
    display: block;
    width: 15%;
  }
}

.shows {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/hero-shows.jpg");
  background-size: cover;
  height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}
.shows__subheading {
  color: #FFF;
}
.shows__heading {
  color: #FFF;
}
@media screen and (min-width: 768px) {
  .shows {
    height: 70vh;
    padding: 2.25em;
  }
}
@media screen and (min-width: 1280px) {
  .shows {
    padding: 3.94em;
  }
}
.shows__song {
  width: 20%;
}
.shows__copy {
  width: 50%;
}/*# sourceMappingURL=shows.css.map */