@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/global" as *;

a {
    text-decoration: none;
    color: inherit;
}

.hero {
    background: 
    linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
    url('/assets/images/hero-bio.jpg');
    background-size: cover;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;

    &__banner {
        color: $tertiary-color;
    }

    @include tablet {
        height: 50vh;
        padding: 2.25em;
    }

    @include desktop {
        padding: 3.94em;
    }
}

.about {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    width: 100vw; 
  
    @include tablet {
        width: 100vw;
        justify-content: center;
        padding: 1em 2.25em;
  }

    @include desktop {
        padding: 2em 3.94em;
  }
   
    &__info {
    display: flex;
    flex-wrap: wrap; 
    width: 100%;

    @include tablet {
        justify-content: center;
    }
  }
  
    &__image {
    display: flex;
    max-width: 100%; 
    gap: 2em;

    @include tablet {
        max-width: 80%;
    }
  }

    &__quote {
    max-width: 100%; 
    padding-top: 1em;
    padding-bottom: 0;
    
    @include tablet {
        max-width: 80%; 
        margin: 0 auto; 
    }
  }
  
    &__copy {
    display: flex;
    padding: 1em 0;

    @include tablet {
        width: 80%;
        padding-bottom: 1em;
    }
  }
}

.bio {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
    width: 100vw;

    @include tablet {
        padding: 0 7em;
        margin-bottom: 1em;
    }

    &__segment {
    width: 100%;

    @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
  }

&__copy {
    padding-bottom: 1em;
    overflow: wrap;

    @include tablet {
        width: 45%;
    }
  }
}

.gallery {
    background-color: $background-color;
    padding: 1em;

    @include tablet {
        padding: 2.25em;
    }

    @include desktop {
        padding: 2em 3.94em;
    }

    &__photos {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;

    @include tablet {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    @include desktop {
        flex-direction: row;
        justify-content: space-between;
        gap: 3em;
    }
  }

    &__photo {
    width: 100%;

    @include tablet {
        width: 30%;
        filter: grayscale(100%);

        &:hover {
            filter: grayscale(0);
        }
    }

    @include desktop {
        width: 30%;
    }
  }
}

.gallery h2 {
    padding-bottom: 1em;
}

.form__conversation {
    padding: 1em;

    @include tablet {
        width: 100vw;
        justify-content: center;
        padding: 1em 2.25em;
    }
}

.form__all-fields {
    display: flex;
    width: 100%;

    @include tablet {
        padding: 0 7em;
        margin-bottom: 1em;
    }

    @include desktop {
        padding: 0 12em;
    }
 }

 .form__avatar-container {
    padding-top: 2em;
    padding-right: 1em;
 }

 .form__avatar {
    background-image: url(../assets/images/Mohan-muruge.jpg);
    background-size: cover;
    background-position: center;
    width: 48px;
    height: 48px;
    border-radius: 50%; 
  }
  
.form__fields {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.form__input {
    width: 100%;
}

.form__label {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    color: $secondary-color;
}
  .form__field {
    padding: 16px 20px;
    margin: 8px 0;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
  }
  
  .form__field--textarea {
    resize: none;
  }

  .form__wrapper {
    display: flex;
    width: 100%;
  }

  .form__full-width {
    width: 100%;
  }

.comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 1em;

    &__text {
        border-bottom: 1px solid #ccc; 
        padding: 1em 0;
    }
 
    @include tablet {
        padding: 0 7em;
        margin-bottom: 1em;
}

    @include desktop {
        padding: 0 14em;
    }
}

.comments {
    padding-top: 1em;
    padding-right: 1em;
   
    &__info {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    }   

    &__image {
    background-color: $secondary-color;
    background-size: cover;
    background-position: center;
    width: 48px;
    height: 48px;
    border-radius: 50%; 
    }

    &__item {
    width: 100%;
}
}