/* colors */
@font-face {
  font-family: "Nunito Sans";
  src: url(/assets/fonts/NunitoSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Nunito Sans";
  src: url(/assets/fonts/NunitoSans-Medium.woff);
  font-weight: 500;
  font-style: medium;
}
@font-face {
  font-family: "Nunito Sans";
  src: url(/assets/fonts/NunitoSans-Bold.woff);
  font-weight: 700;
  font-style: bold;
}
h1, h2 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}

h4 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.25rem;
}

h3 {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.37rem;
}

p, .form__field {
  font-weight: 400;
  font-size: 0.812rem;
  line-height: 1.125rem;
}

button, .label {
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1.25rem;
}

.about__copy {
  font-weight: 500;
  font-size: 0.812rem;
  line-height: 1.125rem;
}

.footer__title {
  font-weight: 700;
  line-height: 1.125rem;
  font-size: 0.812rem;
}

.footer__copy {
  font-weight: 400;
  line-height: 1.125rem;
  font-size: 0.812rem;
}

.about__quote {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.37rem;
}

.navbar__item {
  font-weight: 400;
  font-size: 0.812rem;
  line-height: 1.125rem;
}

@media (min-width: 768px) {
  h1 {
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
  h2 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
  h3 {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  p {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.37rem;
  }
  button {
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
  .about__quote {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .footer__title {
    font-weight: 700;
    line-height: 1.25rem;
    font-size: 0.875rem;
  }
  .footer__copy {
    font-weight: 400;
    line-height: 1.25rem;
    font-size: 0.875rem;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #323232;
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}

textarea {
  font-family: inherit;
}

.navbar {
  background-color: #323232;
}
.navbar__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding-top: 1em;
}
@media screen and (min-width: 768px) {
  .navbar__logo {
    flex-direction: row;
    padding-top: 0;
    padding-left: 2.25em;
    gap: 3em;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__logo {
    padding-left: 3.94em;
  }
}
.navbar__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .navbar__list {
    justify-content: flex-start;
    gap: 1em;
  }
}
.navbar__item {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
  color: #FFF;
  width: 50vw;
  padding: 1em;
}
.navbar__item--active {
  border-bottom: 1px solid #FFF;
}
.navbar__item--inactive {
  color: #E1E1E1;
}
@media screen and (min-width: 768px) {
  .navbar__item {
    justify-content: center;
    width: 7em;
    height: 5em;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__item:hover {
    background-color: #000;
  }
}

.button {
  background-color: #323232;
  color: #FFF;
  height: 2.5em;
  border-radius: 4px;
  text-transform: uppercase;
  text-wrap: nowrap;
}
@media screen and (min-width: 768px) {
  .button {
    padding: 0 2em;
  }
}
.button:hover {
  background-color: #000;
}

/* Footer */
footer {
  background-color: #323232;
  padding: 1em;
  color: #FFF;
}
@media screen and (min-width: 768px) {
  footer {
    padding: 3em 2.25em;
  }
}
@media screen and (min-width: 1280px) {
  footer {
    padding: 2em 5em;
  }
}

.footer-segment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .footer-segment {
    flex-direction: row;
    padding-bottom: 2em;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .footer-segment {
    flex-direction: row;
    padding-bottom: 2em;
    align-items: center;
  }
}

.footer-social {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 1em;
}
@media screen and (min-width: 768px) {
  .footer-social {
    flex-direction: row;
    align-items: center;
    padding: 0;
  }
}

.footer-social__icons {
  display: flex;
  gap: 1em;
}
.footer-social__icons__icons {
  width: 1.6rem;
  height: 1.6rem;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
@media screen and (min-width: 768px) {
  .footer-info {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .footer-info {
    justify-content: flex-start;
    gap: 5em;
  }
}
.footer-info__details {
  width: 100%;
  padding-bottom: 1em;
}
@media screen and (min-width: 768px) {
  .footer-info__details {
    max-width: 30%;
  }
}
@media screen and (min-width: 1280px) {
  .footer-info__details {
    max-width: 20%;
  }
}
.footer-info__title {
  display: flex;
  padding-bottom: 1em;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.footer-logo {
  display: block;
  width: 30%;
  padding-bottom: 1em;
}
@media screen and (min-width: 768px) {
  .footer-logo {
    display: none;
  }
}
.footer-logo--desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer-logo--desktop {
    display: block;
    width: 15%;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.hero {
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("/assets/images/hero-bio.jpg");
  background-size: cover;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
}
.hero__banner {
  color: #FFF;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 50vh;
    padding: 2.25em;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding: 3.94em;
  }
}

.about {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  width: 100vw;
}
@media screen and (min-width: 768px) {
  .about {
    width: 100vw;
    justify-content: center;
    padding: 1em 2.25em;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    padding: 2em 3.94em;
  }
}
.about__info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about__info {
    justify-content: center;
  }
}
.about__image {
  display: flex;
  max-width: 100%;
  gap: 2em;
}
@media screen and (min-width: 768px) {
  .about__image {
    max-width: 80%;
  }
}
.about__quote {
  max-width: 100%;
  padding-top: 1em;
  padding-bottom: 0;
}
@media screen and (min-width: 768px) {
  .about__quote {
    max-width: 80%;
    margin: 0 auto;
  }
}
.about__copy {
  display: flex;
  padding: 1em 0;
}
@media screen and (min-width: 768px) {
  .about__copy {
    width: 80%;
    padding-bottom: 1em;
  }
}

.bio {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
  width: 100vw;
}
@media screen and (min-width: 768px) {
  .bio {
    padding: 0 7em;
    margin-bottom: 1em;
  }
}
.bio__segment {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .bio__segment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.bio__copy {
  padding-bottom: 1em;
  overflow: wrap;
}
@media screen and (min-width: 768px) {
  .bio__copy {
    width: 45%;
  }
}

.gallery {
  background-color: #FAFAFA;
  padding: 1em;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding: 2.25em;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    padding: 2em 3.94em;
  }
}
.gallery__photos {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1em;
}
@media screen and (min-width: 768px) {
  .gallery__photos {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__photos {
    flex-direction: row;
    justify-content: space-between;
    gap: 3em;
  }
}
.gallery__photo {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .gallery__photo {
    width: 30%;
    filter: grayscale(100%);
  }
  .gallery__photo:hover {
    filter: grayscale(0);
  }
}
@media screen and (min-width: 1280px) {
  .gallery__photo {
    width: 30%;
  }
}

.gallery h2 {
  padding-bottom: 1em;
}

.form {
  padding: 1em;
}
@media screen and (min-width: 768px) {
  .form {
    width: 100vw;
    justify-content: center;
    padding: 1em 2.25em;
  }
}

.form__all-fields {
  display: flex;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .form__all-fields {
    padding: 0 7em;
    margin-bottom: 1em;
  }
}
@media screen and (min-width: 1280px) {
  .form__all-fields {
    padding: 0 12em;
  }
}

.form__avatar-container {
  padding-top: 2em;
  padding-right: 1em;
}

.form__avatar {
  background-image: url(../assets/images/Mohan-muruge.jpg);
  background-size: cover;
  background-position: center;
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.form__fields {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.form__input {
  width: 100%;
}

.form__label {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: #AFAFAF;
  padding-bottom: 0.25em;
}

.form__field {
  padding: 0.75em;
  margin: 0.5em 0;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  height: 2.25em;
}
@media screen and (min-width: 768px) {
  .form__field {
    height: 3em;
    padding: 1em;
  }
}

.form__field--textarea {
  resize: none;
  padding: 0.5em;
}

.form__wrapper {
  display: flex;
  width: 100%;
}

.form__full-width {
  width: 100%;
}

.comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 1em;
}
.comment__text {
  border-bottom: 1px solid #E1E1E1;
  padding: 1em 0;
}
@media screen and (min-width: 768px) {
  .comment {
    padding: 0 7em;
    margin-bottom: 1em;
  }
}
@media screen and (min-width: 1280px) {
  .comment {
    padding: 0 14em;
  }
}

.comments {
  padding-top: 1em;
  padding-right: 1em;
}
.comments__info {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}
.comments__image {
  background-color: #AFAFAF;
  background-size: cover;
  background-position: center;
  width: 3em;
  height: 3em;
  border-radius: 50%;
}
.comments__item {
  width: 100%;
}/*# sourceMappingURL=bio.css.map */