@font-face {
  font-family: "Nunito Sans";
  src: url(/assets/fonts/NunitoSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Nunito Sans";
  src: url(/assets/fonts/NunitoSans-Medium.woff);
  font-weight: 500;
  font-style: medium;
}
@font-face {
  font-family: "Nunito Sans";
  src: url(/assets/fonts/NunitoSans-Bold.woff);
  font-weight: 700;
  font-style: bold;
}
h1, h2 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

h4 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 20px;
}

h3 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.footer__title {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  line-height: 18px;
  font-size: 13px;
}

.footer__copy {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  line-height: 18px;
  font-size: 13px;
}

.about__text {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  line-height: 22px;
  font-size: 16px;
}

.nav__item { /* check in on this on wednesday */
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

@media (min-width: 768px) {
  h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 68px;
  }
  h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
  }
  h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
  }
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
  .footer__title {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    line-height: 20px;
    font-size: 14px;
  }
  .footer__copy {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #323232;
}

.nav__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
}
@media screen and (min-width: 768px) {
  .nav__logo {
    flex-direction: row;
    padding-left: 2em;
    gap: 3em;
  }
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .nav__list {
    justify-content: flex-start;
    gap: 1em;
  }
}

.nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
  color: #fff;
  width: 50vw;
  padding: 1em;
  position: relative;
}
@media screen and (min-width: 768px) {
  .nav__item {
    justify-content: flex-start;
    width: 7em;
  }
}

.nav__item--active::after {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fff;
}

.nav__item--inactive {
  color: #E1E1E1;
}

/* Footer */
footer {
  background-color: #323232;
  padding: 1em;
  color: #fff;
}
@media screen and (min-width: 768px) {
  footer {
    padding: 1em 2.25em;
  }
}
@media screen and (min-width: 1280px) {
  footer {
    padding: 1em 5em;
  }
}

.footer__top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .footer__top {
    flex-direction: row;
  }
}

.footer__social {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 1em;
}
@media screen and (min-width: 768px) {
  .footer__social {
    flex-direction: row;
    align-items: center;
  }
}

.icons {
  display: flex;
  gap: 1em;
}

.footer__social-item {
  width: 25px;
  height: 25px;
}

.footer__info {
  display: flex;
  flex-direction: column;
  gap: 1em; /* Add consistent spacing between info sections */
}
@media screen and (min-width: 768px) {
  .footer__info {
    flex-direction: row;
  }
}

.footer__details {
  width: 100%;
  padding-bottom: 1em; /* Adjust spacing */
}
@media screen and (min-width: 768px) {
  .footer__details {
    width: 40%;
  }
}

.footer__title {
  display: flex;
  padding-bottom: 1em;
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.logo-mobile {
  display: block;
  width: 30%;
  padding-bottom: 1em;
}
@media screen and (min-width: 768px) {
  .logo-mobile {
    display: none;
  }
}

.logo-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .logo-desktop {
    display: block;
    width: 200px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/hero-bio.jpg");
  background-size: cover;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
}
.hero__banner {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 50vh;
  }
}

.about {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  width: 100vw;
}
@media screen and (min-width: 768px) {
  .about {
    width: 80vw;
  }
}

.about__info {
  display: flex;
  flex-wrap: wrap;
}

.about__image {
  display: flex;
  max-width: 100%;
  gap: 2em;
}

.about__text {
  display: flex;
  padding: 1em 0;
}

.info-whole {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
  width: 100vw;
}

.info {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.info__copy {
  padding-bottom: 1em;
  overflow: wrap;
}
@media screen and (min-width: 768px) {
  .info__copy {
    width: 45%;
  }
}

.gallery {
  background-color: #fafafa;
  padding: 1em;
}

.gallery h2 {
  padding-bottom: 1em;
}

.gallery__photos {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1em;
}
@media screen and (min-width: 768px) {
  .gallery__photos {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__photos {
    flex-direction: row;
    justify-content: space-around;
  }
}

.gallery__photo {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .gallery__photo {
    width: 30%;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__photo {
    width: 30%;
  }
}/*# sourceMappingURL=main.css.map */